* {
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;
    position: -webkit-sticky;
}

.navbar:hover {
    cursor: pointer;
    opacity: 1;
}

#intro {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: pink;
    text-align: center;
    padding-top: 170px;
}

#flying1 {
    position: relative;
    display: inline-block;
    top: -170px;
    left: -550px;
    animation: rotation 2s linear infinite;
}

#flying2 {
    position: relative;
    display: inline-block;
    top: -170px;
    left: -350px;
    animation: rotation 2s linear infinite;
}

#flying3 {
    position: relative;
    display: inline-block;
    top: -170px;
    right: -290px;
    animation: rotation 2s linear infinite;
}

#flying4 {
    position: relative;
    display: inline-block;
    top: -170px;
    right: -590px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#intro-div h2 {
    font-size: 30px;
    animation: fadeIn 1s linear;
}

#intro-div h3 {
    font-size: 20px;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#arrow {
    animation: blink 2s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#icon-div {
    text-align: center;
    outline: none;
    margin: 40px auto;
    width: 40%;
    padding: 5px;
    position: relative;
    animation: moveUp 1.5s ease-in-out;
}

@keyframes moveUp {
    0% {
        bottom: -250px;
    }
    100% {
        bottom: 0px;
    }
}

#icon-about {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    z-index: 99;
}


/* ////ABOUT SECTION//// */

#about {
    height: 100%;
    width: 100vw;
    background: purple;
    text-align: center;
    padding: 10px 0 80px 0;
}

#about-myself-div {
    width: 80%;
    margin: 5px auto;
}

#about-h3 {
    color: white;
    font-size: 30px;
}

#about-myself-text {
    color: white;
    line-height: 1.6em;
    font-weight: lighter;
    padding-bottom: 10px;
}


/* #skills-div1,
#skills-div2 {
    width: 100%;
} */

.skills-module {
    margin-top: 10px;
    width: 160px !important;
}

.card-skills {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.skills-module>p {
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 10px;
}

.skills-module>p>span {
    font-weight: lighter;
    font-size: 15px;
}


/* /////PORTFOLIO SECTION///// */

#portfolio {
    height: 100%;
    width: 100vw;
    background: #f1f1f1;
}

#portfolio-h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    color: #444649;
}

#portfolio-div {
    margin: auto;
    padding: 2px;
    justify-content: center;
    width: 100%;
}

.d-flex {
    justify-content: center;
    margin: 10px auto;
}

#github-logo.d-flex {
    margin-bottom: 30px;
}


/* portfolio cards */

.module {
    border-radius: 0 !important;
    width: 100%;
    position: relative;
}

.port-image {
    height: 100%;
}

.module:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #220a37;
}

.text {
    color: white;
    font-size: 25px;
    position: relative;
    top: 10px;
    text-align: center;
}

.overlay>a {
    text-decoration: none;
}

#blcode {
    color: purple;
    font-size: 18px;
    top: 38px;
}

.bllearnmore {
    border-radius: 34px;
    color: purple;
    font-size: 12px;
    top: 70px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 2px solid purple;
    transition: 0.3s;
}

.bllearnmore:hover {
    color: white;
    background-color: purple;
}


/* ///////Contact//////// */

#contact {
    height: 100vh;
    width: 100vw;
    background: pink;
}

#contact-h3 {
    padding-top: 130px;
    font-size: 30px;
    text-align: center;
}

#contact-text {
    text-align: center;
    font-weight: 200;
    margin-top: 30px;
}

footer {
    color: white;
    height: 100px;
}

.footer-copyright {
    padding-top: 30px !important;
}

.fab,
.fas {
    color: purple;
    padding: 20px;
    transition: 0.3s;
}

.fab:hover,
.fas:hover {
    color: white;
}


/* ////RESPONSIVE////  */


/* laptop */

@media only screen and (max-width: 3000px) {
    #intro-div {
        margin-top: 50px;
    }
    #about {
        padding: 50px 0 100px 0;
    }
    #about-myself-div {
        width: 60%;
        margin-top: 50px;
        letter-spacing: 1px;
        font-size: 20px;
    }
    .skills-module {
        width: 380px !important;
    }
    .card-skills {
        width: 80px;
        height: 80px;
    }
    .skills-module>p {
        width: 100%;
        font-size: 18px;
    }
    .skills-module>p>span {
        font-weight: lighter;
        font-size: 20px;
    }
    #portfolio {
        padding: 50px;
    }
    #portfolio-h3 {
        padding-top: 50px;
    }
    .module {
        width: 30%;
    }
    .bllearnmore {
        font-size: 18px;
        top: 100px;
    }
}


/* ipad pro */

@media only screen and (max-width: 1000px) {
    #intro-div {
        margin-top: 100px;
    }
    #intro-div h2 {
        font-size: 30px;
    }
    #intro-div h3 {
        font-size: 20px;
    }
    #icon-div {
        width: 18%;
    }
    #about-myself-div {
        width: 65%;
    }
    .module {
        width: 40%;
    }
    .bllearnmore {
        font-size: 15px;
        top: 80px;
        width: 80%;
    }
}


/* ipad */

@media only screen and (max-width: 768px) {
    #intro-div {
        margin-top: 100px;
    }
    #icon-div {
        width: 20%;
    }
    #about-myself-div {
        width: 80%;
        margin: 50px auto;
    }
    #about-myself-text {
        font-size: 18px;
    }
    .skills-module {
        width: 280px !important;
    }
    .card-skills {
        width: 80px;
        height: 80px;
    }
    .skills-module>p {
        width: 50%;
        font-size: 16px;
    }
    .skills-module>p>span {
        font-size: 20px;
    }
    /* #portfolio-h3 {
        padding-top: 80px;
    } */
    .module {
        width: 50%;
    }
}


/* mobile phone */

@media only screen and (max-width: 414px) {
    #intro-div {
        margin-top: 30px;
    }
    #intro-div h2 {
        font-size: 30px;
    }
    #intro-div h3 {
        font-size: 26px;
    }
    .skills-module {
        width: 180px !important;
    }
    #about-myself-text {
        padding-bottom: 10px;
    }
    .card-skills {
        width: 40px;
        height: 40px;
    }
    .module {
        width: 100%;
    }
}